
/* Daily forecast */
.dailyForecast {
    display: flex;
    gap: 20px;      
  }
  .day {
    background: #1a1a50;
    padding: 16px 10px;
    width: 101px;    
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    text-align: center;
  }
  .day .temperature{
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 37.5em) {
    .dailyForecast{    
      display: grid;
      grid-template-columns: repeat(3, 1fr);              
    }
  }

  @media screen and (max-width: 20em) {     
    .day{
      width: 135px;    
    }
  }